{% extends 'base.html' %}
{% load  static %}

{% block title %}
Welcome to home page
{% endblock title %}


{% block container %}
<div class='container'>
    <h1>Welcome to my Recruitment Tool</h1>
        <center><div class="row mt-5">
            <div class="col-4">
                <img src="{% static 'images/laptop.jpg' %}" alt="laptop" width="400" height="300">
            </div>
            <div class="col-4">
                <img src="{% static 'images/laptop.jpg' %}" alt="laptop" width="400" height="300" >
            </div>
            <div class="col-4">
                <img src="{% static 'images/laptop.jpg' %}" alt="laptop" width="400" height="300" >
            </div>
        </div></center>
            <br><p>My aim during this project was to allow of nurse’s or other shift-based workers to have a space where they could update their availability to work and have it matched to available shifts. </p><br>
            <p>I have a dummy user set up if you would like to log in and have a look round (user – <strong>Nurse</strong> PW – <strong>nursingtool</strong>). </p><br>
            <p>To see it in action head to the calendar tab and add your availability into the app. Then head over to the Add shift tad and add a shift choose times between your availability, add shift. Head over to the Shifts tab and you should see that Adam has automatically assigned to the shift and the details have been updated in the calendar</p>

</div>
{% endblock container %}